@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}

.loading {
  animation-name: spin;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
